#jhb-badge {
  .el-badge__content {
    font-size: 10px;
    height: 14px;
    line-height: 14px;
    padding: 0 4px;
    font-weight: 500;
    background-color: $badge-bg-color;
    &.is-fixed.is-dot {
      right: 5px;
    }
    &.is-dot {
      height: 8px;
      width: 8px;
      padding: 0;
      right: 0;
    }
  }
}
