#jhb-slider {
  .el-slider__button {
    width: 20px;
    height: 20px;
    border-color: $slider-border-icon-color;
  }
  .el-slider__runway {
    background-color: $slider-bg-color;
    border-radius: 4px;
  }
  .el-slider__bar {
    background-color: $slider-border-icon-color;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
  }
  .el-slider__stop {
    background-color: $slider-bg-color;
  }
}
