#jhb-pagination {
  .el-pagination__total {
    color: $pagination-font-color;
  }
  &.el-pagination button,
  &.el-pagination span:not([class*="suffix"]) {
    font-size: $font-size;
    min-width: 16px;
  }
  &.el-pagination {
    color: $pagination-font-color;
    font-weight: $font-weight;
    font-size: $font-size;
    button {
      &:disabled {
        color: $pagination-icon-disabled-color;
      }
    }
    .btn-prev {
      padding-right: 4px;
    }
    .btn-next {
      padding-left: 4px;
    }
    .btn-next,
    .btn-prev {
      color: $pagination-font-color;
    }
  }

  .el-pagination__sizes .el-input .el-input__inner {
    font-size: $font-size;
    border-radius: 4px;
    color: $pagination-font-color;
    border-color: $pagination-border-color;
    &:focus,
    &:hover {
      border-color: $pagination-active-color;
    }
  }

  .el-pager li.btn-quicknext,
  .el-pager li.btn-quickprev {
    color: $pagination-icon-disabled-color;
  }

  .el-select .el-input .el-select__caret {
    color: $pagination-font-color;
    font-size: 16px;
    font-weight: 900;
  }

  .el-pager li {
    font-size: $font-size;
    min-width: 16px;
    &.active,
    &:hover {
      color: $pagination-active-color;
    }
  }
}
.el-select-dropdown__item {
  color: $pagination-font-color;
  font-size: $font-size;
  &.selected {
    color: $pagination-active-color;
  }
}
