#jhb-select-cascader-root {
  font-size: $font-size;
  font-weight: $font-weight;
  display: flex;
  align-items: center;
  .require-mark {
    margin-right: 3px;
    height: $height;
    line-height: $height;
    color: $select-font-color;
    .show-required-error {
      padding: 0 2px;
      color: $select-font-error-color;
      font-style: normal;
    }
  }
  .el-input__inner {
    font-size: $font-size;
    line-height: $height;
    height: $height;
    color: $select-font-color;
    border-color: $select-border-color;
    &::placeholder {
      color: $select-font-color;
      font-size: $font-size;
    }
    &:hover {
      border-color: $select-border-hover-color;
    }
  }
  .el-input__icon {
    line-height: $height;
  }
}
.el-cascader-node {
  height: $height;
  line-height: $height;
}
.el-cascader-menu {
  color: $select-font-color;
  font-size: $font-size;
  font-weight: $font-weight;
}
.el-cascader-node.in-active-path,
.el-cascader-node.is-active,
.el-cascader-node.is-selectable.in-checked-path {
  color: $select-font-active-color;
  font-weight: 500;
}
