#jhb-button {
  display: inline-block;
  &.el-button {
    padding: 7px 16px;
    font-size: $font-size;
    font-weight: $font-weight;
    line-height: 18px;
    &.small {
      padding: 3px 12px;
    }
    &.Primary {
      background: $buttonPrimary-bg-color;
      color: $buttonPrimary-font-color;
      border: 0px;
      &:focus,
      &:hover {
        color: $buttonPrimary-font-color;
        background-color: $buttonPrimary-hover-color;
      }
      &:active {
        background-color: $buttonPrimary-active-color;
      }
    }
    &.Stroke {
      background: $buttonStroke-bg-color;
      color: $buttonStroke-font-color;
      border-color: $buttonStroke-border-color;
      padding: 6px 16px;
      &:focus,
      &:hover {
        border-color: $buttonStroke-hover-border-color;
        color: $buttonStroke-hover-font-color;
        background-color: $buttonStroke-hover-color;
      }
      &:active {
        color: $buttonStroke-active-font-color;
        background-color: $buttonStroke-active-color;
        border-color: $buttonStroke-active-border-color;
      }
    }
    &.Secondary {
      background: $buttonSecondary-bg-color;
      color: $buttonSecondary-font-color;
      border: none;
      &:focus,
      &:hover {
        color: $buttonSecondary-hover-font-color;
        background-color: $buttonSecondary-hover-color;
      }
      &:active {
        color: $buttonSecondary-active-font-color;
        background-color: $buttonSecondary-active-color;
      }
    }
    &.is-disabled {
      &.Primary,
      &.Stroke,
      &.Secondary,
      &:focus,
      &:hover {
        color: $button-disabled-font-color;
        cursor: not-allowed;
        background-image: none;
        background-color: $button-disabled-color;
        border: none;
      }
      &.Stroke {
        border: 1px solid $button-disabled-border-color;
      }
    }
  }
}
