#jhb-radio-button {
  .el-radio-button__orig-radio:checked + .el-radio-button__inner {
    color: #fff;
    background-color: $radioButton-bg-color;
    border-color: $radioButton-bg-color;
    -webkit-box-shadow: -1px 0 0 0 $radioButton-bg-color;
    box-shadow: -1px 0 0 0 $radioButton-bg-color;
  }
  .el-radio-button__inner:hover {
    color: $radioButton-bg-color;
  }
  .el-radio-button__inner {
    padding: 9px 20px;
    font-size: $font-size;
    color: $radioButton-font-color;
    border-color: $radioButton-border-color;
  }
}
