
//global
$bg-color: #456CE6;
$font-color: #111827;
$activeBorder-color: #456CE6;
$font-weight: 400;
$font-size: 12px;
$height: 32px;
$error-color: #FF5B57;

//button global
$button-disabled-color: #F9FAFB;
$button-disabled-font-color: #CFD0D3;
$button-disabled-border-color: #E5E7EB;
//button-Primary 
$buttonPrimary-bg-color: #456CE6;
$buttonPrimary-hover-color: #6A89EB;
$buttonPrimary-active-color: #355CD5;
$buttonPrimary-font-color: #fff;


//button-Stroke 
$buttonStroke-bg-color: #fff;
$buttonStroke-border-color: #E5E7EB;
$buttonStroke-hover-color: #ECF0FD;
$buttonStroke-hover-font-color: #456CE6;
$buttonStroke-hover-border-color: #DAE2FA;
$buttonStroke-active-color: #ECF0FC;
$buttonStroke-active-font-color: #456CE6;
$buttonStroke-active-border-color: #456CE6;
$buttonStroke-font-color: #111827;


//button-Secondary 
$buttonSecondary-bg-color: #ECF0FC;
$buttonSecondary-font-color: #456CE6;
$buttonSecondary-hover-color: #A2B5F2;
$buttonSecondary-hover-font-color: #fff;
$buttonSecondary-active-color: #355CD5;
$buttonSecondary-active-font-color: #fff;


//link
$link-primary-bg-color: #456CE6;
$link-primary-hover-color: #A2B5F2;
$link-danger-bg-color: #FF5B57;
$link-danger-hover-color: #FFADAB;
$link-success-bg-color: #00C48C;
$link-success-hover-color: #7FE1C5;

//radio
$radio-bg-active-color: #456CE6;
$radio-font-active-color: #456CE6;
$radio-icon-border-active-color: #456CE6;
$radio-border-active-color: #456CE6;
$radio-font-color: #111827;
$radio-border-color: #E5E7EB; 
$radio-bg-color: #fff;
$radio-icon-border-color: #888B93;
$radio-disabled-border-color: #E5E7EB;
$radio-bg-disabled-color: #F9FAFB;
$radio-font-disabled-color: #CFD0D3;
$radio-icon-border-disabled-color: #CFD0D3;
$radio-icon-border-disabled-active-color: #CFD0D3;

//radio-buton
$radioButton-bg-color: #456CE6;
$radioButton-border-color: #E5E7EB;
$radioButton-font-color: #111827;

//checkbox 
$checkbox-bg-active-color: #456CE6;
$checkbox-border-active-color: #456CE6;
$checkbox-font-active-color: #456CE6;
$checkbox-icon-border-color: #888B93;
$checkbox-font-color: #111827;
$checkbox-border-color: #E5E7EB;
$checkbox-border-disabled-bg-color: #F9FAFB;
$checkbox-border-disabled-font-color: #CFD0D3;
$checkbox-border-disabled-icon-color: #CFD0D3;
$checkbox-border-disabled-icon-font-color: #fff;


//checkbox 
$checkboxButton-font-active-color: #456CE6;
$checkboxButton-bg-active-color: #456CE6;
$checkboxButton-font-active-color: #fff;
$checkboxButton-font-color: #111827;
$checkboxButton-border-color: #E5E7EB;
$checkboxButton-font-hover-color: #456CE6;
$checkboxButton-border-active-color: #456CE6;

//input
$input-border-color: #E5E7EB;
$input-placeholder-font-color: #CFD0D3;
$input-font-color: #111827;
$input-tip-font-color: #888B93;
$input-border-hover-color: #456CE6;
$input-border-focus-color: #456CE6;
$input-border-error-color: #FF5B57;
$input-font-error-color: #FF5B57;
$input-tip-error-color: #FF5B57;
$input-bg-disabled-color: #F9FAFB;
$input-font-disabled-color: #CFD0D3;

//inputNumber

$inputNumber-border-color: #E5E7EB;
$inputNumber-font-color: #111827;
$inputNumber-font-focus-color: #456CE6;
$inputNumber-border-focus-color: #456CE6;
$inputNumber-border-error-color: #FF5B57;
$inputNumber-font-error-color: #FF5B57;
$inputNumber-font-disabled-color: #CFD0D3;
$inputNumber-bg-disabled-color: #F9FAFB;

//select
$select-border-color: #E5E7EB;
$select-font-color: #111827;
$select-font-icon-color: #888B93;
$select-font-tip-color: #888B93;
$select-font-active-color: #456CE6;
$select-border-hover-color: #456CE6;
$select-border-focus-color: #456CE6;
$select-font-disabled-color: #CFD0D3;
$select-bg-disabled-color: #F9FAFB;
$select-font-error-color: #FF5B57;
$select-bg-hover-color: #F9FAFB;
$select-bg-tag-color: #ECF0FC;
$select-font-tag-color: #456CE6;

//time
$time-border-color: #E5E7EB;
$time-font-color: #111827;
$time-active-color: #456CE6;
$time-font-placeholder-color: #CFD0D3;
$time-disabled-color: #CFD0D3;
$time-bg-disabled-color: #F9FAFB;
$time-font-icon-color: #888B93;
$time-bg-icon-color: #fff;
$time-bg-icon-hover-color: #EBF4FF;

//notice
$alert-info-bg-color: #F9FAFB;
$alert-info-font-color: #888B93;
$alert-success-bg-color: #DDF5EE;
$alert-success-font-color: #00C48C;
$alert-default-bg-color: #EBF4FF;
$alert-default-font-color: #3A93FF;
$alert-warning-bg-color: #FFF6E4;
$alert-warning-font-color: #FFBF47;
$alert-error-bg-color: #FFEEEE;
$alert-error-font-color: #FF5B57;

//tab
$tab-active-color: #456CE6;
$tab-border-color: #E5E7EB;
$tab-font-color: #111827;
$tab-border-height: 2px;
$tab-font-weight: 500;
$tab-font-02-active-color: #fff;
$tab-font-02-color: #888B93;
$tab-bg-02-active-color: #456CE6;
$tab-bg-02-color: #F9FAFB;
$tab-font-03-active-color: #456CE6;
$tab-font-03-color: #888B93;
$tab-bg-03-active-color: #FFFFFF;
$tab-bg-03-color: #EFF1F3;
$tab-font-04-active-color: #456CE6;
$tab-font-04-color: #888B93;
$tab-bg-04-active-color: #FFFFFF;
$tab-bg-04-color: #F9FAFB;

//tag
$tag-bg-color: #ECF0FC;
$tag-height: 24px;
$tag-font-size: 11px;
$tag-font-color:  #6979F8;
$tag-font-icon-color: #456CE6;
$tag-font-hover-color:  #fff;
$tag-bg-hover-color:  #456CE6;
$tag-info-bg-color: #EFF1F3;
$tag-info-font-color: #888B93;
$tag-info-font-icon-color: #888B93;
$tag-info-font-hover-color:  #fff;
$tag-info-bg-hover-color:  #888B93;
$tag-font-weight-icon: 600;
$tag-bg-success-color:  #00C48C;
$tag-bg-info-color:  #3A93FF;
$tag-bg-error-color:  #FF5B57;
$tag-bg-warn-color:  #FFBF47;
$tag-bg-other-color:  #FF8F4D;
$tag-font-plain-default-color: #456CE6;
$tag-font-plain-success-color:  #00C48C;
$tag-font-plain-info-color:  #3A93FF;
$tag-font-plain-error-color:  #FF5B57;
$tag-font-plain-warn-color:  #FFBF47;
$tag-font-plain-other-color:  #FF8F4D;
$tag-bg-plain-default-color: #ECF0FC;
$tag-bg-plain-success-color:  #DDF5EE;
$tag-bg-plain-info-color:  #EBF4FF;
$tag-bg-plain-error-color:  #FFEEEE;
$tag-bg-plain-warn-color:  #FFF6E4;
$tag-bg-plain-other-color:  #FFF3ED;

//switch 
$switch-bg-color: #CFD0D3;
$switch-bg-active-color: #456CE6;
$switch-height: 16px;
$switch-height-icon: 12px;
$switch-bg-disabled-color: #EFF1F3;
$switch-bg-active-disabled-color: #DAE2FA;

//pagination
$pagination-active-color: #456CE6;
$pagination-font-color: #111827;
$pagination-border-color: #E5E7EB;
$pagination-border-height: 28px;
$pagination-icon-disabled-color: #CFD0D3;

//colorPicker
$colorPicker-border-color: #E5E7EB;
$colorPicker-bg-active-color: #456CE6;
$colorPicker-font-active-color: #888B93;

//badge
$badge-bg-color: #FF5B57;

//slider
$slider-border-icon-color: #456CE6;
$slider-bg-color: #EFF1F3;

//step
$step-active-color: #456CE6;
$step-font-title-color: #888B93;
$step-font-title-active-color: #111827;
$step-font-title-disabled-color: #CFD0D3;
$step-font-size-title: 12px;
$step-line-height-title: 18px;
$step-font-weight-title: 500;
$step-font-size-desc: 11px;
$step-font-weight-desc: 400;
$step-line-height-desc: 16px;
$step-font-color: #A2B5F2;
$step-bg-color: #ECF0FC;
$step-bg-active-color: #456CE6;
$step-font-active-color: #fff;

//timeline
$timeline-title-font-color: #111827;
$timeline-title-font-size: 12px;
$timeline-title-height: 18px;
$timeline-time-font-color: #888B93;
$timeline-time-font-size: 11px;
$timeline-time-height: 16px;
$timeline-active-color: #456CE6;
$timeline-icon-border-color: #E5E7EB;

//upload
$upload-active-font-color: #456CE6;
$upload-border-color: #E5E7EB;
$upload-disabled-bg-color: #F9FAFB;
$upload-disabled-font-color: #CFD0D3;

//tree
$tree-border-color: #888B93;
$tree-icon-color: #888B93;
$tree-active-color:  #456CE6;
$tree-disabled-color: #CFD0D3;
$tree-font-color: #111827;
$tree-bg-disabled-color: #F9FAFB;
@import './common.scss';






