//tooltip
.el-tooltip__popper.is-dark {
    opacity: 0.8;
    background: $font-color;
}
//result
.el-result {
    background: #FFFFFF;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.05);
    border-radius: 8px;
    padding: 30px;
    .el-result__title p {
        font-size: 14px;
        color: #111827;
        line-height: 20px;
        height: 20px;
        font-weight: 500;
    }
    .el-result__subtitle p {
        font-size: 11px;
        color: #888B93;
        line-height: 16px;
        height: 16px;
        font-weight: 400;
    }
    .el-result__subtitle {
        margin-top: 4px;
    }
    .el-button--mini, .el-button--small {
        border-radius: 4px;
    }
    .el-button--primary {
        background-color: #456CE6;
        border-color: #456CE6;
    }
    .el-result__extra {
        margin-top: 16px;
    }
    .el-result__icon svg {
        width: 42px;
        height: 42px;
    }
    .icon-success {
        fill: #00C48C;
    }
    .icon-warning {
        fill: #FFBF47;
    }
    .icon-error {
        fill: #F56C6C;
    }
    .icon-info {
        fill: #3A93FF;
    }
    .el-empty__bottom, .el-result__title {
        margin-top: 10px;
    }
}