#jhb-tree {
  .el-tree-node__expand-icon {
    color: $tree-icon-color;
    font-size: 16px;
  }
  .el-tree-node__content:hover {
    background-color: $tree-bg-disabled-color;
  }
  .el-checkbox__inner {
    width: 12px;
    height: 12px;
    border-color: $tree-border-color;
    &::after {
      height: 6px;
      left: 3px;
    }
  }
  .el-checkbox__input.is-checked .el-checkbox__inner,
  .el-checkbox__input.is-indeterminate .el-checkbox__inner {
    background-color: $tree-active-color;
    border-color: $tree-active-color;
  }
  .el-checkbox__input.is-disabled.is-checked .el-checkbox__inner::after {
    border-color: #fff;
  }
  .el-checkbox__input.is-indeterminate .el-checkbox__inner::before {
    top: 4px;
  }
  .el-tree-node__label {
    font-size: $font-size;
    font-weight: $font-weight;
    color: $tree-font-color;
  }
  .el-checkbox__input.is-disabled .el-checkbox__inner {
    border-color: $tree-disabled-color;
    background-color: $tree-bg-disabled-color;
  }
  .el-checkbox__input.is-disabled.is-checked .el-checkbox__inner {
    border-color: $tree-disabled-color;
    background-color: $tree-disabled-color;
  }
}
