#jhb-checkbox-button {
  &.el-checkbox-button.is-checked .el-checkbox-button__inner {
    color: #fff;
    background-color: $checkboxButton-bg-active-color;
    border-color: $checkboxButton-border-active-color;
    -webkit-box-shadow: -1px 0 0 0 $checkboxButton-border-active-color;
    box-shadow: -1px 0 0 0 $checkboxButton-border-active-color;
  }
  &.el-checkbox-button.is-focus {
    border-color: $checkboxButton-border-active-color;
  }
  .el-checkbox-button__inner:hover {
    color: $checkboxButton-font-hover-color;
  }
  // &.el-checkbox-button.is-checked .el-checkbox-button__inner {
  //     background-color: $checkboxButton-bg-active-color;
  //     border-color: $checkboxButton-border-active-color;
  //     color: $checkboxButton-font-active-color;
  //     // -webkit-box-shadow: -1px 0 0 0 $buttonPrimary-hover-color;
  //     // box-shadow: -1px 0 0 0 $buttonPrimary-hover-color;
  // }
  // .el-checkbox-button__inner {
  //     font-size: 12px;
  //     padding: 6px 20px;
  //     color: $checkboxButton-font-color;
  //     &:hover {
  //         color: $checkboxButton-font-hover-color;
  //     }
  // }
  // &.el-checkbox-button.is-focus .el-checkbox-button__inner {
  //     border-color: $checkboxButton-border-color;
  // }
}
