#jhb-date-picker,
#jhb-time-picker {
  .el-date-editor .el-range-input {
    color: $time-font-color;
  }
  .el-date-editor .el-range-input,
  .el-date-editor .el-range-separator {
    font-size: $font-size;
    font-weight: $font-weight;
  }
  .el-date-editor .el-range-separator {
    color: $time-font-icon-color;
    line-height: 24px;
  }

  .el-range-editor.is-disabled {
    background-color: $time-bg-disabled-color;
    border-color: $time-border-color;
    color: $time-disabled-color;
    .el-range-input {
      color: $time-disabled-color;
    }
  }
  .el-range-editor.is-disabled input {
    background-color: $time-bg-disabled-color;
    color: $time-disabled-color;
  }
  .el-date-editor .el-range__icon {
    color: $time-disabled-color;
  }
}
