#jhb-progress {
  .el-progress__text {
    font-size: 11px !important;
    color: #111827;
  }

  .el-progress-bar__outer {
    background-color: #eff1f3;
  }
  &.el-progress.is-success {
    .el-progress__text {
      color: #00c48c;
      font-size: 14px !important;
    }
    .el-progress-bar__inner {
      background-color: #00c48c;
    }
  }
  &.el-progress.is-exception {
    .el-progress__text {
      color: #ff5b57;
      font-size: 14px !important;
    }
    .el-progress-bar__inner {
      background-color: #ff5b57;
    }
  }
  &.el-progress.is-warning {
    .el-progress__text {
      color: #ffbf47;
      font-size: 14px !important;
    }
    .el-progress-bar__inner {
      background-color: #ffbf47;
    }
  }
}
