#jhb-timeline {
  .el-timeline-item__content {
    color: $timeline-title-font-color;
    font-size: $timeline-title-font-size;
  }
  .el-timeline-item__timestamp.is-bottom {
    margin-top: 4px;
  }
  .el-timeline-item__timestamp {
    color: $timeline-time-font-color;
    font-size: $timeline-time-font-size;
    height: $timeline-time-height;
    line-height: $timeline-time-height;
  }
  .el-timeline-item__node {
    background-color: #fff;
    border: 1px solid $timeline-active-color;
  }
  .el-timeline-item__node--normal {
    width: 8px;
    height: 8px;
    left: 0;
  }
  .el-timeline-item__tail {
    border-left: 1px solid $timeline-icon-border-color;
  }
  .el-card.is-always-shadow,
  .el-card.is-hover-shadow:focus,
  .el-card.is-hover-shadow:hover {
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.05);
  }
  .el-card {
    border: 0px;
    d h4 {
      height: $timeline-title-height;
      line-height: $timeline-title-height;
      color: $timeline-title-font-color;
      font-size: $timeline-title-font-size;
    }
    p {
      height: $timeline-time-height;
      line-height: $timeline-time-height;
      color: $timeline-time-font-color;
      font-size: $timeline-time-font-size;
    }
  }
}
