#jhb-checkbox {
  .el-checkbox__input.is-checked .el-checkbox__inner,
  .el-checkbox__input.is-indeterminate .el-checkbox__inner {
    background-color: $checkbox-bg-active-color;
    border-color: $checkbox-border-active-color;
  }
  .el-checkbox__input.is-checked + .el-checkbox__label {
    color: $checkbox-font-active-color;
  }
  .el-checkbox__inner {
    width: 12px;
    height: 12px;
    border-color: $checkbox-icon-border-color;
    color: $checkbox-font-color;
    &::after {
      height: 6px;
      left: 4px;
      width: 2px;
    }
  }
  .el-checkbox__label {
    line-height: 18px;
    font-size: 12px;
  }
  &.el-checkbox.is-bordered {
    padding: 7px 20px 7px 8px;
    height: 32px;
    border-color: $checkbox-border-color;
    &.is-checked {
      border-color: $checkbox-border-active-color;
    }
    &.is-disabled {
      background-color: $checkbox-border-disabled-bg-color;
      border-color: $checkbox-border-color;
    }
  }
  &.el-checkbox {
    font-weight: 400;
    font-size: 12px;
  }
  .el-checkbox__input.is-disabled.is-checked .el-checkbox__inner {
    background-color: $checkbox-border-disabled-icon-color;
    border-color: $checkbox-border-disabled-icon-color;
  }
  .el-checkbox__input.is-disabled + span.el-checkbox__label {
    color: $checkbox-border-disabled-font-color;
  }
  .el-checkbox__input.is-disabled .el-checkbox__inner::after {
    border-color: $checkbox-border-disabled-icon-font-color;
  }
  .el-checkbox__input.is-disabled .el-checkbox__inner {
    background-color: $checkbox-border-disabled-bg-color;
    border-color: $checkbox-border-disabled-font-color;
  }
  .el-checkbox__input.is-indeterminate .el-checkbox__inner::before {
    top: 4px;
  }
}
