@font-face {
  font-family: "element-icons"; /* Project id 1452203 */
  src: url('iconfont.woff2?t=1628155976777') format('woff2'),
       url('iconfont.woff?t=1628155976777') format('woff'),
       url('iconfont.ttf?t=1628155976777') format('truetype');
}

.element-icons {
  font-family: "element-icons" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.el-icon-addTodo-nav:before {
  content: "\e605";
}

.el-icon-Add_bule:before {
  content: "\e600";
}

.el-icon-dabaoyu:before {
  content: "\e601";
}

.el-icon-dayu:before {
  content: "\e602";
}

.el-icon-baoxue:before {
  content: "\e603";
}

.el-icon-daxue:before {
  content: "\e604";
}

.el-icon-bofangjilu:before {
  content: "\e874";
}

.el-icon-fenxiang:before {
  content: "\e875";
}

.el-icon-dianzan:before {
  content: "\e873";
}

.el-icon-dianyingpiao:before {
  content: "\e876";
}

.el-icon-huati:before {
  content: "\e877";
}

